---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found">
    <section class="bg-gray-100 p-8 text-center">
        <h1 class="text-5xl font-bold text-gray-800 mb-4">404</h1>
        <p class="text-xl text-gray-600 mb-8">
            Meow! The page you're looking for has wandered off.
        </p>
        <img src="/404.webp" alt="Lost Cat" class="mx-auto mb-8 w-64 h-auto" />
        <a href="/" class="text-blue-500 hover:underline text-lg"
            >Return Home and Find Your Way</a
        >
    </section>
</Layout>
