---
import { loadQuery } from "../sanity/lib/load-query";
import { urlForImage } from "../sanity/lib/urlForImage";
import Layout from "../layouts/Layout.astro";
import Cat from "../components/Cat.astro";
import OurText from "../components/OurText.astro";

interface Cat {
    name: string;
    age: string;
    description: string;
    photo: {
        asset: {
            _ref: string;
        };
    };
    instagramLink: string;
}

// Fetch cats data from Sanity
const { data: cats } = await loadQuery<Cat[]>({
    query: `*[_type == "cat"]{name, age, description, photo, instagramLink}`,
});
---

<Layout title="Our Cats">
    <OurText title="Our Cats" />
    <div class="max-w-7xl mx-auto px-4 md:px-8 py-8">
        <section
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 justify-items-center justify-content-center"
        >
            {
                cats.map((cat) => (
                    <Cat
                        name={cat.name}
                        age={cat.age}
                        description={cat.description}
                        photoUrl={urlForImage(cat.photo)
                            .width(400)
                            .height(300)
                            .url()}
                        instagramLink={cat.instagramLink}
                    />
                ))
            }
        </section>
    </div>
</Layout>
