---
interface Props {
  icon: string;
  title: string;
  bulletPoints: string[];
  className?: string;
}

const { icon, title, bulletPoints, className } = Astro.props;
---

<div
  class={`bg-white rounded-md py-3 px-4 md:py-4 md:px-6 flex flex-col items-center sm:items-start space-y-2 ${className}`}
>
  <img src={icon} alt={title + " icon"} class="h-8 w-8 md:h-10 md:w-10 object-contain" />
  <h3 class="text-base md:text-lg font-bold text-gray-800">{title}</h3>
  <ul class="list-disc list-inside text-gray-700 space-y-1 text-sm md:text-base">
    {bulletPoints.map((point) => <li>{point}</li>)}
  </ul>
</div>

<style>
  .shadow-orange {
    box-shadow: 4px 4px 0px rgba(255, 87, 34, 1);
  }

  .shadow-blue {
    box-shadow: 4px 4px 0px rgba(33, 150, 243, 1);
  }

  .shadow-yellow {
    box-shadow: 4px 4px 0px rgba(255, 235, 59, 1);
  }

  .shadow-green {
    box-shadow: 4px 4px 0px rgba(76, 175, 80, 1);
  }

  .shadow-purple {
    box-shadow: 4px 4px 0px rgba(156, 39, 176, 1);
  }
</style>
