---

---

<nav>
  <ul>
    <li><a href="{{ '/' | url }}">Home</a></li>
    <li><a href="{{ '/about' | url }}">About</a></li>
    <li><a href="{{ '/cats' | url }}">Cats</a></li>
    <li><a href="{{ '/adopt' | url }}">Adopt</a></li>
    <li><a href="{{ '/foster' | url }}">Foster</a></li>
    <li><a href="{{ '/contact' | url }}">Contact</a></li>
  </ul>
</nav>
