<a
  href="/donate"
  class="flex items-center group transform transition-transform duration-300 hover:scale-105"
>
  <span
    class="text-md font-medium text-olive-700 transition-colors duration-300"
    >DONATE</span
  >
  <img src="/images/donate.webp" alt="Donate" class="w-6 h-6" />
</a>
