<a
    href="/donate"
    class="flex items-center group transform transition-transform duration-300 hover:scale-105"
>
    <span class="font-medium text-donate transition-colors duration-300"
        >Donate</span
    >
    <img src="/donate.png" alt="Donate" class="w-6 h-6" />
</a>

<style>
    .text-donate {
        color: #f6615a;
    }
</style>
